body{
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    background: #333;
    display: flex;
}

.menu >li{
    position: relative;
}

.menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu a:hover{
    background: #555;
}

.submenu{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100;
    left: 0;
    background: #444;
    display: none;
    min-width: 160px;
}

.submenu li a{
    padding: 12px;
}

.menu li:hover .submenu{
    display: block;
}